.gradle
/local.properties
/.idea
.DS_Store
/build
app/.externalNativeBuild
/modules/emoji-view/build
/modules/actionbar/build
/modules/popupmenu/build
app/.signing/app.prop
app/.signing/openvk.ks
app/.signing/openvk.jks
*.li
*.aar
/wrhttp/build/
