.gradle
/local.properties
/.idea
.DS_Store
/build
app/.externalNativeBuild
/modules/actionbar/build
/modules/twemoji/build
/modules/slidingmenu/build
/modules/actionbar/build
/modules/popupmenu/build
/modules/wrhttp/build
app/.signing/app.prop
app/.signing/openvk.ks
app/.signing/openvk.jks
*.li
*.aar
/wrhttp/build/
*.so
*.o
*.a
*.o.d
app/.signing/app-release.prop
/app/src/main/jniLibs
*.hprof
