<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.openvk.android.legacy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseStyle"
        android:name=".Application"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">
        <activity
            android:name=".AuthenticationActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/BaseStyle.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_left_menu"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
        </activity>
        <activity
            android:name=".ProfileIntentActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_left_menu"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>

                <data android:scheme="openvk" android:host="profile"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsIntentActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_left_menu"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:scheme="openvk" android:host="friends"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainSettingsActivity"
            android:label="@string/menu_settings"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
        </activity>
        <activity
            android:name=".NewPostActivity"
            android:label="@string/new_status"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
        </activity>
        <activity
            android:name=".DebugMenuActivity"
            android:label="@string/debug_menu"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/search_global"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
        </activity>
    </application>
</manifest>
