<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.openvk.android.legacy">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player,
    tv.danmaku.ijk.media.player_armv5,
    tv.danmaku.ijk.media.player_arm64,
    tv.danmaku.ijk.media.player_armv7a,
    tv.danmaku.ijk.media.player_x86,
    com.reginald.swiperefresh"/>

    <application
        android:name=".OvkApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/BaseStyleNoTitle"
        android:largeHeap="true"
        tools:ignore="UnusedAttribute"
        android:usesCleartextTraffic="true">

        <receiver android:name=".receivers.LongPollReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="uk.openvk.android.legacy.LONGPOLL_RECEIVE" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.core.activities.MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.core.activities.AuthActivity"
            android:label="@string/app_name"
            android:theme="@style/BaseStyle.NoActionBar"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
        />

        <activity
            android:name=".ui.core.activities.AppActivity"
            android:label="@string/app_name"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
        />

        <activity
            android:name=".ui.core.activities.NewPostActivity"
            android:label="@string/new_status"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
        />

        <activity
            android:name=".ui.core.activities.ProfileIntentActivity"
            android:label="@string/profile"
            android:icon="@drawable/ic_ab_app"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="openvk" android:host="profile" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.core.activities.FriendsIntentActivity"
            android:label="@string/friends"
            android:icon="@drawable/ic_ab_app"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="openvk" android:host="friends" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.core.activities.GroupIntentActivity"
            android:label="@string/group"
            android:icon="@drawable/ic_ab_app"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="openvk" android:host="group" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.core.activities.ConversationActivity"
            android:label="@string/messages"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
            android:launchMode="singleTop"
        />

        <activity
            android:name=".ui.core.activities.MainSettingsActivity"
            android:label="@string/menu_settings"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
        />

        <activity
            android:name=".ui.core.activities.DebugMenuActivity"
            android:label="@string/debug_menu"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
        />

        <activity
            android:name=".ui.core.activities.NetworkSettingsActivity"
            android:label="@string/sett_network"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
        />

        <activity
            android:name=".ui.core.activities.AdvancedSettingsActivity"
            android:label="@string/sett_advanced"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
        />

        <activity android:name=".ui.core.activities.QuickSearchActivity"
            android:label="@string/search_global"
            android:theme="@style/BaseStyle.NoActionBar.NoShadow"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false"
        />

        <activity
            android:name=".ui.core.activities.WallPostActivity"
            android:label="@string/new_status"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
        />

        <activity
            android:name=".ui.core.activities.AboutApplicationActivity"
            android:label="@string/menu_about"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
        />

        <activity
            android:name=".ui.core.activities.PhotoViewerActivity"
            android:label="@string/photo"
            android:theme="@style/BaseStyle.Dark.Transparent"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
        />

        <activity
            android:name=".ui.core.activities.VideoPlayerActivity"
            android:label="@string/video"
            android:theme="@style/BaseStyle.Dark.Transparent"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:windowTranslucentStatus="true"
            />

        <activity
            android:name=".ui.core.activities.NoteActivity"
            android:label="@string/photo"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            />

        <activity android:name=".ui.core.activities.GroupMembersActivity"
            android:label="@string/friends"
            android:icon="@drawable/ic_ab_app"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="openvk" android:host="group_members" />
            </intent-filter>
        </activity>

        <!--suppress AndroidDomInspection -->
        <service android:name=".services.LongPollService" android:enabled="true" android:exported="true"/>

        <service android:name="uk.openvk.android.legacy.services.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <activity android:name=".ui.core.activities.CrashReporterActivity"
            android:theme="@style/BaseStyle"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"/>
    </application>

</manifest>
